.navbar {
  font-size: 18px; 
  font-weight: 500;
}

.navbar a {
  text-decoration: none;
  margin-right: 28px;
  color: rgb(67, 59, 59);
  transition: all .3s linear;
}


a:last-child {
  margin-right: 0;
}

a:hover {
  color: rgb(27, 118, 231);
}

.navbar .active__link  {
  color: rgb(27, 118, 231);
  text-decoration: underline;
}
