.table__container {
  overflow: auto; /* Додайте прокрутку, якщо контент таблиці перевищує встановлені розміри */
}

.table__container th, td {
  max-width: 50px;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
}
